html, body{
  overflow-x: hidden;
}
.header{
  background-color: red;
  color: white;
  height: 150px;
}
.content{
  background-color: mediumspringgreen;
  color: blue;
  height: 500px;
}
.menu{
  background-color: wheat;
  color: black;
  height: 500px;
}
.footer{
  background-color: pink;
  color: black;
  height: 100px;
}